EXPECTED_DEVICES=4
RESTART_DETECTION_IF_ONLINE=3
UPDATE_INTERVAL_SECONDS=5
YASDI_INI_FILE_PATH=/opt/dev-logger/sma.ini

MQTT_HOST=konstantin-nas
MQTT_PORT=1883
MQTT_USERNAME=sma-logger
MQTT_PASSWORD=sma-logger
MQTT_KEEP_ALIVE_SECONDS=10
MQTT_TOPIC_PREFIX=Solar/Inverters
